<!DOCTYPE html>
<html lang="en" ng-app="ipvApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- AngularJS -->
    <script src="../libs/angular-1.5.8/angular.js"></script>
    <script src="../scripts/app.js"></script>
    <title>IPTV STATUS</title>
  </head>
  <body ng-controller="IptvController">
    <h1>IPTVs</h1>
    <div class="row" ng-repeat="file in files">
        <div class="col-md-offset-1 col-md-10">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><button ng-click="toggler(file)">{{file.show ? '-' : '+'}}</button> {{file.name}}</h3>
            </div>
            <div id={{file.id}} class="panel-body" ng-show=file.show>
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Logo</th>
                        <th>Name</th>
                        <th>Group</th>
                        <th>Status</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="line in file.lines">
                            <td style="width: 5%;">{{$index}}</td>
                            <td style="width: 10%;"><img height="50px" width="50px" ng-src="{{line.logo}}"/></td>
                            <td style="width: 50%;"><a href={{line.url}}>{{line.name}}</a></td>
                            <td style="width: 25%;">{{line.group}}</td>
                            <td style="width: 5%;">{{line.status}}</td>
                            <td style="width: 5%;"><img height="20px" width="20px" ng-src="{{line.statusimage}}"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer panel-primary">
                TOTAL: {{file.lines.length}} ON: {{file.numberOn}} OFF: {{file.numberOff}}
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
    </div>
    <!-- Bootstrap -->
    <link href="../libs/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
  </body>
</html>